/* filmografia */
@import "../extra/media-queries";

.caja-filmografia {
    display: grid;
    grid-template-columns: 1.3fr 2.7fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 6em 1em;
    margin: 0 5% 3em;
}

iframe {
    height: 100%;
    width: 100%;
}

@include mobile {
    /* filmografia */
    .caja-filmografia {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        gap: 1em;
    }
}

@include tablet{
    .caja-filmografia {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1.7fr 1fr);
        gap: 1em;       
    }
}