@import "../extra/media-queries";

/* galeria */

.caja-galeria {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
}

.imgdrive,
.imgbladerunner,
.imglalaland,
.imgtheplace {
    width: 100%;
    height: 100%;
    padding: 1em;
}

.imgdrive img,
.imgbladerunner img,
.imglalaland img,
.imgtheplace img {
    width: 100%;
    height: 100%;
}

@include mobile {

    /* galeria */
    .caja-galeria {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}